body{
    height: 100%;
    box-sizing: border-box;
}

#starrating{
    position: absolute;
    top: 30%;
    left: 47.5%;
    transform: translate(-50%, -50%);
    user-select: none;
    background-color: white;
    padding: 1.4rem 2.5rem;
    border-radius: .4rem;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    text-align: center;
}

#starrating button{
    margin-top: 0.5rem;
}

#commentbox{
    display: none;
    position: absolute;
    width: 17.3rem;
    height: 8rem;
    top: 30%;
    left: 47.4%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1.4rem 2.5rem;
    border-radius: .4rem;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    text-align: center;
}

#commentbox input{
    margin: 0.5rem;
}

#account{
    position: absolute;
    width: 17.3rem;
    height: 11rem;
    top: 71%;
    left: 47.4%;
    transform: translate(-50%, -50%);
    user-select: none;
    background-color: white;
    padding: 1.4rem 2.5rem;
    border-radius: .4rem;
    color: rgb(0, 0, 0);
    border: 2px solid black;
}

.star{
    font-size: 3rem;
    color: #ff9800;
    background-color: none;
    border: 1px solid black;
}

.star:hover{
    border: 2px solid black;
    cursor: pointer;
    background-color: #fcbc5b;
}

h3, p{
    cursor: text;
}

#donewithreview{
    display: none;
    position: absolute;
    top: 30%;
    left: 47.5%;
    width: 22.8rem;
    height: 13rem;
    transform: translate(-50%, -50%);
    border: 2px solid green;
}

#donewithreview:hover{ 
    border: 8px outset green;
    background-color: green;
    #checkmark{ 
        color:black;
    }
}

#checkmark{
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: green;
    font-size: 15rem;

}

