body{
    margin: 0;
    padding: 0;
    background-color: white;
    color:black;
    height: 38.7rem;
}

.dark-mode{
    color: white;
    background-color:black; 
}

button{
    cursor: pointer;
}

nav{
    width: 30%;
    height: 100%;
    background-color: rgb(145, 143, 143);
    /*filter: blur(0.7px);*/
    display: none;
}

nav *{
    margin: 20%;
}