body{
    margin: 0;
    padding: 0;
    background-color: white;
    color:black;
    height: 38.7rem;
}

.dark-mode{
    color: white;
    background-color:black; 
    #obtn{
        color: white;
        border: 2px solid white;
    }
}

button{
    cursor: pointer;
}

#obtn{
    width: 80%;
    height: 50%;
    margin: 0.8rem;
    grid-area: obtn; 
    border: 2px solid black;
    background: none;
}


nav{
    position: absolute;
    top: 0;
    width: 30%;
    height: 100%;
    background-color: rgb(145, 143, 143);
    /*filter: blur(0.7px);*/
    display: none;
}

nav button, li{
    border: none;
    list-style: none;
    margin-top: 2rem;
}

header{
    display: grid;
    grid-template: 
    "obtn" auto /
    10%;
    height: 10%;
    width: 100%;
}